{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">About us</h1><br>

    <p class="font-weight-bold">Molecular recognition by crossed graphene edge electrodes</p>
        Analyze the tunneling current through molecules in various media both at normal and
cryogenic conditions using edges of two twisted graphene layers as the electrodes to
study the behavior of electron transport in single molecules. The aim is to achieve high

precision real-time characterization of the molecules. The project involves building as-
semblies (preparation of graphene, masking it to avoid current leakage; modifying STM

and creating sample holders to work at different conditions and media) and character-
izing them to fabricate the best design of the setup, experimenting using thus created

setup. The project helps in the development of molecular electronics, bio-sensing and
a method for DNA sequencing.
        <br><br>
        <p class="font-weight-bold">Geodesics in Kerr-Neumann Black Holes</p>
        Setup time-like and null geodesics from a modified metric constructed to study their

propagation close to ring singularity which captures the changes within the inner hori-
zon in the modifed Kerr-Neumann Black Holes; and investigate their behavior by soft-
ware simulations.
        <br><br>
        <p class="font-weight-bold">Linear Contraction Measurement in Aluminum alloy Casting</p>
        Simulate heat transfer effects and thermal stresses caused by Aluminum alloy contrac-
tion during and after its solidification, and find the raw materials needed and the best

design to build an instrument which measures the contraction linearly. Then study the
mushy zone strength experimentally using the constructed instrument.
        <br><br>
        <p class="font-weight-bold">Hyperthermia using Hybrid Nanoparticles for Cancer Tumor Ablation</p>
        Combine effects of both Plasmonic Hyperthermia and Magnetic Hyperthermia by us-
ing hybrid NP’s made of gold, iron (II,III) oxide, and silicon oxide to produce local heat-
ing at the targeted cancer tumor cells; and study them in different media.
        <br><br>
        <p class="font-weight-bold">Digital Image Encryption using Miscellaneous Transformations</p>
        Encrypt images efficiently by employing modern mathematical tools such as six-di-
mensional (6D) hyperchaotic system, two-dimensional (2D) discrete wavelet trans-
form (DWT), wavelet packet transform and quantum gates.
{% endblock %}